/*Pick out colors*/

header {
  display: flex;
  flex-direction: row;
}

header li {
  display: block;
  color: black;
}

header h1 {
  padding: 10px;
}

ul#header-items {
  align-items: center;
  padding: 20px;
}
}
/*
header ul:nth-child(2) {
  border: 1px solid green;
}*/

div#timer {
  border: 2px, solid gray;
}

main ul {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: green;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-table li {
  margin: 10px;
  width: 13%;
  height: 20%;
  padding: 0;
  /*padding-top: 4%;*/
  /*padding-bottom: 4%;*/
  border: 3px solid black;
  border-radius: 8px;
  background-color: transparent;
  z-index: 100;
  text-align: center;
  display: block;
  color: black;
  font-size: 12vw;
}

li img {
  display: block;
  margin: auto;
  width: 100%;
  object-fit: cover;
  z-index: 1;
}

#list-table .visible {
  color: red;
  border: 3px solid red;
}

#list-table .matched {
  color: blue;
  border: 3px solid blue;
}
